<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      File Upload & Download using Angular (take any version you want)
      <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/file-upload">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12">
              <mat-input-container>
                <input matInput type="text" id="name" placeholder="Enter Name" formControlName="name">
              </mat-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <button mat-raised-button color="primary" type = "button" (click)="fileInput.click()">Import file</button> {{ fileInput.value }}
              <input type="file" (change)="onFileChange($event)" #fileInput [style.display]="'none'" >
              <p class="my-small">*Try image files if you want preview</p>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-md-2">
              <button mat-mini-fab color="warn" type="button" (click) ="clearFile()">clear</button>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-md-12">
              <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">Submit
                <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
              </button>
            </div>
          </div>
        </form>    
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="row">
      <div class="col-md-12">
        <ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'fileUpload.ts'" style="height:720px"></ngx-gist>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Upload To a Loopback Server</mat-card-title>
        <mat-card-subtitle>Upload using Angular</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="image_src" alt="lets c">
      <mat-card-content>
        <p *ngIf = "uploaded;else my_else">
          This is the File you have uploaded
        </p>
        <ng-template #my_else>
          <p>Nothing to Display</p>
        </ng-template>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="deleteUploaded()" [disabled] = "fileName">Delete Uploaded File</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
  </div>
</div>