<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Event Emitters Data Passing between Components Now Easy<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/parentchild">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <p class="myHeader">Parent</p>
      </div>
      <div class="col-md-12">
        <p>Enter the Text to send to the Child Component :</p>
        <mat-input-container>
          <input matInput type="text" placeholder="Enter" #parentInput (keyup)="0">
        </mat-input-container>

        <br>
        <p>Value passed by Child Component : {{childValue}}</p>
        <!-- (keyup) is a dummy event to just show this demo -->
      </div>
    </div>
  </div>

  <div class="col-md-6">

    <div class="row">
      <div class="col-md-12">
        <p class="myHeader">Child Component</p>
      </div>
      <div class="col-md-12">
        <app-childparent [valuepassed]="parentInput.value" (toParent)="childValue = $event"></app-childparent>
      </div>
    </div>
  </div>
</div>


<!--You can also pass the event to a method-->
<!--You can also send in objects in input parameters-->
<br>

<div class="row">
  <div class="col-md-12">
    <p><b>You can think of Event Emitters as nothing but a means to bridge the gap or provide a means of communication
      between parent and child components. </b> This is one of the first things you learn in Angular as everything in Angular is 
      components and thats waht help modularize the code. <br>
      If you want to notify the child component of any change from the parent component make use of the <code>Input()</code> decorator.<br>
      If you want to notify the parent component about something from the child component make sure to use <code>Output()</code> decorator
      along with a <code>Event Emitter</code>.
    </p>
    <p>You might be wondering what are these dont worry we have got you covered the above example code will make it a lot clear .</p>
  </div>
</div>

<ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'26.ts'" style="height:750px"></ngx-gist>