<p>
  directives works!
</p>


<!--we can also add the attribute directive liek this [appconfirm] if the input in the directive has same name as appConfirm-->

<!--we can also pass values to the directives from the component like instead of "[value]" send a variable from component-->
<button type="button" appConfirm value = "Rahul">Click to Send to Directive</button>


<!--Check this link for more on directives-->
<a href="https://angular-2-training-book.rangle.io/handout/advanced-angular/directives/creating_an_attribute_directive.html">More on Directives</a>
