
<div class="row">


  <h4>This Repo is for Beginners who is learning Angular, I always felt that code gives the best possible explanation to any concept that  a framework has  so this repo explains
  all the concepts using Code, for documentation i will have links in each of the pages corresponding to the topics. </h4>

  <h4>Please click on the Tabs[Advanced or Basic] on the Header to Find live demo of all the topics & to look for code <a href="https://github.com/rahulrsingh09/AngularConcepts"> click </a>to go to repo.</h4>

  <h5>Some of the Topics Covered so far are:-</h5>


  <ul>
    <li>Simple Angular  Component</li>
    <li>Angular Material Design Implementation [work in progress]</li>
    <li>Angular Cli Commands for Faster Angular Development</li>
    <li>Custom Pipes</li>
    <li>Custom Directives</li>
    <li>Event Emitters  Input & Output</li>
    <li>Form Controls in Reactive or Data Driven Forms </li>
    <li>Form Controls In Template Driven Forms</li>
    <li>Example of Http Module how to create a service in angular and error handling in Services</li>
    <li>Angular 4 Rc2 IF else</li>
    <li>Angular Testing Components and Custom Components like Directives ,Pipes, Router etc [work in progress] </li>
    <li>Angular Router Guards using CanActivate and Can Deactivate Interfaces</li>
    <li>Passing Data via Router and also Retriving them look at Angular4Component for code</li>
    <li>Usage of Host and Host-Context in Angular 2 Components [The shadow Dom]</li>
    <li>View Child , View Children and Content Children Example</li>
    <li>Ngrx Store[Redux] Simple Example</li>
    <li>Angular Router Resolve Explanation</li>
    <li>For Router Resolve Please Refer to my Other repo as i have used them in detail over there in <a href = "https://github.com/rahulrsingh09/footballdetails"> Link </a></li>
    <li>For Lazy Loading in Angular Please Refer the repo <a href = "https://github.com/rahulrsingh09/footballdetails"> Link </a>I have used them in Detail </li>
    <li>Also i have used Shared Modules , Feature Modules and Core Modules in repo <a href = "https://github.com/rahulrsingh09/footballdetails"> Link </a></li>
  </ul>

</div>
