
<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      So Now This is what Angular is hmmm Interesting  :|<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/basic">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>

<div class="row"  *ngIf="message">
  <p class="myHeader" style="color: red">Message Send my Angular Guards
        {{message}} Hehehahahaha :E
    </p>
</div>

<div class="row">

  <div class="col-md-1">
    <a href="https://angular.io/"><img class = "angular-img" src="angular.svg" alt="angular" /></a>
  </div>

  <div class="col-md-11">
      <p class="myPara">Angular is a platform that makes it easy to build applications with the web.
        Angular combines declarative templates, dependency injection, end to end tooling,
        and integrated best practices to solve development challenges. Angular empowers
        developers to build applications that live on the web, mobile, or the desktop</p>
  </div>

</div><br><br>

<div class="row">

  <div class="col-md-12">
    <strong>Why this Page and whom does it concern?</strong><hr>
    <p>
      This Page/Repo is for everyone developing Angular Apps, For <u>Beginners</u> it like a mini project with all the basic and some advanced concepts that are
      required in web apps now a days & for <u>Intermediate or Professionals</u> it is like a one stop point to find some concepts we might forget while bumping into web apps.
      <br><br>I always felt that code gives the best possible explanation to any concept that a framework has to offer this repo explains
      all the concepts using Code, for documentation i will have links in each of the pages corresponding to the topics.
    </p>
  </div>

</div>

<div class="row">

  <div class="col-md-12">
    <p>
      Please Feel Free to Comments on any of the topics or if you want any more info on Angular will be happy to help
      &nbsp;<a (click)="goToComment()" class="comment-base"><img src="comment.png" alt="comment"/></a>
    <br><br>
    Click on the Tabs For More Info on Angular Stuff ....<br>
      There will be a <strong>[Q&A]</strong> Menu for all the basic Angular Questions check that for general query.
    </p>

    <p><strong>Small Note -  On Every Page of this Website there will be a small tooltip like this<span mdTooltip="View Source">
        <a>
          <img src="code.png" alt="Image">
        </a>
      </span>please click on it to go to the github repo folder for the exact page full code , Every Component will start with .component if that's what's you are looking for and .component.html for template
        and last but not least if it ends with .spec it will be a test file :P</strong></p>
  </div>

</div>

<br>
<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <small>Page Requests - {{pageCount}}</small>
  </div>
</div>

