.angular-img {
  float: left;
  width: 50px;
  height: 50px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.comment{
  color: red;
  text-decoration: underline;
}

.comment-base{
  cursor: pointer;
}
