<div class="row">

  <div class="header">
    <a href="https://angular.io/"><img class = "angular-img" src="angular.svg" alt="angular" /></a>
    <h4>Angular is a platform that makes it easy to build applications with the web.
      Angular combines declarative templates, dependency injection, end to end tooling,
      and integrated best practices to solve development challenges. Angular empowers
      developers to build applications that live on the web, mobile, or the desktop</h4>
  </div>

  <div>
    <strong>Why this Page and whom does it concern?</strong>
    <h4>This Page cum Repo is for everyone developing Angular Apps, For <u>Beginners</u> it like a mini project with all the basic and some advanced concepts that are
      required in web apps now a days & for <u>Intermediate or Professionals</u> it is like a one stop point to find some concepts we might forget while bumping into web apps.
      <br><br>I always felt that code gives the best possible explanation to any concept that a framework has to offer this repo explains
      all the concepts using Code, for documentation i will have links in each of the pages corresponding to the topics. </h4>

      <h4 class = "comment">Please Feel Free to Comments on any of the topics or if you want any more info on Angular will be happy to help
        &nbsp;<a (click)="goToComment()" class="comment-base"><img src="comment.png" alt="comment"/></a></h4>

    <h4>Please click on the Tabs[Advanced , Basic or Additional] on the Nav Bar to Find live demo of all the topics & to look for code <a href="https://github.com/rahulrsingh09/AngularConcepts"> click </a>to go to repo.</h4>
    <h5>Some of the Topics Covered so far are:-</h5>

  </div>


  <ul>
    <li>Simple Angular  Component</li>
    <li>Angular Material Design Implementation [work in progress]</li>
    <li>Angular Cli Commands for Faster Angular Development</li>
    <li>Custom Pipes</li>
    <li>Custom Directives</li>
    <li>Event Emitters  Input & Output</li>
    <li>Form Controls in Reactive or Data Driven Forms </li>
    <li>Form Controls In Template Driven Forms</li>
    <li>Example of Http Module how to create a service in angular and error handling in Services</li>
    <li>Angular 4 Rc2 IF else</li>
    <li>Angular Testing Components and Custom Components like Directives ,Pipes, Router etc [work in progress] </li>
    <li>Angular Router Guards using CanActivate and Can Deactivate Interfaces</li>
    <li>Passing Data via Router and also Retriving them look at Angular4Component for code</li>
    <li>Usage of Host and Host-Context in Angular 2 Components [The shadow Dom]</li>
    <li>View Child , View Children and Content Children Example</li>
    <li>Ngrx Store[Redux] Simple Example</li>
    <li>Angular Router Resolve Explanation</li>
    <li>For Router Resolve Please Refer to my Other repo as i have used them in detail over there in <a href = "https://github.com/rahulrsingh09/footballdetails"> Link </a></li>
    <li>For Lazy Loading and Modules [Feature,Core & Shared]in Angular Please Refer the repo <a href = "https://github.com/rahulrsingh09/footballdetails"> Link </a>I have used them in Detail </li>
    <li>Also i have used Shared Modules , Feature Modules and Core Modules in repo <a href = "https://github.com/rahulrsingh09/footballdetails"> Link </a></li>
    <li>Use of HighCharts to Show Graphical Info of Data that is mostly used now a days in web apps [Multi level , Multi level - multi chart  Drill Down Included]</li>
    <li>Angular 2 Firebase (A real time database for angular apps with CRUD) & ngx pagination</li>
  </ul>

</div>
