

<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Redux in Angular, Really :D using NGRX v4 <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/ngrx">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>

<router-outlet></router-outlet>

<div class="row">
  <div class="col-md-12">
      <button md-raised-button color = "primary" (click)="rxjs()">Building blocks of ngrx @ Observables</button>
  </div>
</div><br>

<div class="row">
  <div class="col-md-1">
    <button md-mini-fab (click)="increment()">+</button>
  </div>
  <div class="col-md-1">
    <p>Count: {{ counter | async }}</p>
  </div>
  <div class="col-md-1">
    <button md-mini-fab (click)="decrement()">-</button>
  </div>
  <div class="col-md-3">
    <button md-raised-button color = "primary" (click)="reset()">Reset</button>
  </div>
  <div class="col-md-4">
    <md-input-container>
      <input mdInput type="text" placeholder="Add to List" #list>
    </md-input-container>
  </div>
  <div class="col-md-2">
    <button md-raised-button color = "primary" (click)="add(list.value)" [@ngrxStore] = "state" (@ngrxStore.start)="animationStarted($event)">Add to List</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div *ngFor = "let i of item | async" [@flyInOut] >
      <div class = "well" (click) = get(i,index)>{{i}}<a><i class="align remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a></div>
    </div>
  </div>
</div>
<br>
<div class="row">

  <div class="col-md-6">
    <p><strong>What's Redux ? </strong></p>
    <p>Redux is an application state manager for JavaScript applications, and keeps with the core principles of the Flux-architecture by having a unidirectional data flow in your application.
      Redux applications have only one global, read-only application state.
      This state is calculated by "reducing" over a collection or stream of actions that update it in controlled ways.</p>
      <p><strong>Where to use it ?</strong><br>
        A small scenario will make its use quite clear <br><br>        
        <i> I am hoping you might have used facebook right :P so if you look @ facebook's website you will see multiple components like 
        navbar, left panel, chatbox etc. Ever wondered when a new message is delivered to you all these are updated simultaneously 
        how ? <br>
        If they went for srevices or Event Emitters they would be engulfed in a sea of spaghetti code.
        Which even if implemented will be very hard to debug or make changes .</i><br>
        <br>Here comes the use of ngrx state management all the information is stored @ a single place and all the components are notified when the state of the data is changed .</p>
  </div>

  <div class="col-md-6">
    <p><strong> and Ngrx ?</strong></p>
    <p>Redux state managers have been very well received and have inspired the creation of @ngrx,
      a set of modules that implement the same way of managing state as well as some of the middleware and tools in the Redux ecosystem.
      @ngrx was created to be used specifically with Angular and RxJS, as it leans heavily on the observable paradigm.
      <br>Both the Components you see above are managed using ngrx store (updated to v4).<br><br>
      Advantages of upgrading</p><br>
      <ul>
          <li><p>Official support for lazy loading</p></li>
          <li><p>implified testing</p></li>
          <li><p>Redesigned router integration</p></li>
      </ul>
      <p>Npm command to install ngrx <code>npm install @ngrx/core @ngrx/store --save</code></p>
  </div>

</div>


<div class="row">
  <div class="col-md-6">
    <p><strong>Reducer function for each data type you have in your application. The combination of these reducers will make up your application state:</strong></p>
      <pre class="counter">
        <code [innerHTML]="counterTs">
        </code>
      </pre>
  </div>
  <div class="col-md-6">
    <p><strong>In your app's main module, import those reducers and use the StoreModule.provideStore(reducers) function to provide them to Angular's injector:</strong></p>
    <pre class="reducer">
        <code [innerHTML]="reducers"></code>
    </pre>
    <p><strong>You can then inject the Store service into your components and services. Use store.select to select slice(s) of state:</strong></p>
    <pre class="component">
        <code [innerHTML]="component"></code>
    </pre>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <p>More on Ngrx Please follow these links <br>
    I have Developed a App which uses the whole ngrx suite [effects, store , platform , devtools etc ] . The whole state management
    of that app has been taken care by ngrx . Check out the git repo if you want it to be a starter guide for ngrx
    <a href="https://github.com/rahulrsingh09/FootBallScores">git link .</a><br>
    <a href="https://blog.nrwl.io/using-ngrx-4-to-manage-state-in-angular-applications-64e7a1f84b7b">Victor Savkin Man behind NGRX</a> &
      <a href="https://gist.github.com/btroncone/a6e4347326749f938510">Comprehensive Introduction to @ngrx/store Github Gist</a></p>
  </div>
</div>






