<div class="row">
    <div class="col-md-12">
      <p class="myHeader">
        World of Observables :)<span mdTooltip="View Source">
          <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/ngrx/rxjs">
            <img src="code.png" alt="Image">
          </a>
        </span>
      </p>
    </div>
  </div>
  <hr>
<div class="row">
  <div class="col-md-12">
    <p>Observables open up a continuous channel of communication in which multiple values of data can be emitted over time. 
      From this we get a pattern of dealing with data by using array-like operations to parse, modify and maintain data. 
      Angular uses observables extensively - you'll see them in the HTTP service and the event system.</p>

      <p>There are two Types of Observables <code>Hot</code> & <code>Cold</code>. Untill and unless you <code>subscribe</code> to a observable
        it is dormant and in a cold state and dosent emit values onces you <code>subscribe</code> the observable starts to Emit values.
        The Subscribe method is how you connect an observer to an Observable</p>

      <p> There are three methods assocaited with a observable Subscribe .</p>
      <ul>
        <li><p><code>onNext</code><br>An Observable calls this method whenever the Observable emits an item. This method takes as a parameter the item emitted by the Observable.</p></li>
        <li><p><code>onError</code><br>An Observable calls this method to indicate that it has failed to generate the expected data or has encountered some other error.</p></li>
        <li><p><code>OnCompleted</code><br>An Observable calls this method after it has called onNext for the final time.</p></li>
      </ul>
      
      <ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'22.ts'" style="height:250px"></ngx-gist>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>Some of the Most Used Observable Functions in order to transform the Stream of Data comming through<br><br>
    1.<code>Fork Join </code>
    The forkJoin() operator allows us take a list of Observables and execute them in parallel. 
    Once every Observable in the list emits a value the forkJoin with emit a single Observable value containing a 
    list of all the resolved values from the Observables in the list.
    </p>
    <ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'23.ts'" style="height:320px"></ngx-gist>
    <p>2.<code>flatMap or MergeMap</code>Merge is similar to concat, but it will interleave the emitted values instead of completing 
      the first observable before starting the second one.
      FlatMap or switch map is how we handle dependencies between observables. 
      </p>
      <ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'24.ts'" style="height:180px"></ngx-gist>
      <p><code>Switch Map</code>It allows us to map and flatten like flatMap, but it “switches” to each new observable and forgets whatever came before it.</p>
      <ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'25.ts'" style="height:280px"></ngx-gist>
      <p>The eas­i­est way to remem­ber the dif­fer­ence between mergeMap/flatmap and switchMap is    
      When you hear the word merge, think — use every­thing on all the streams aka. merge every­thing. 
      Whereas when you hear the word switch, think — switch to using data on the newer stream no data is ever lost in flat or merge map as both contibue to emit.
      where as in switchmap, 
      Switch subscribes to an Observable that emits Observables. Each time it observes one of these emitted Observables, the Observable returned by Switch unsubscribes from the previously-emitted Observable begins emitting items from the latest Observable. Note that it will unsubscribe from the previously-emitted Observable when a new Observable is emitted from the source Observable, not when the new Observable emits an item.    
         </p>
    <p><code>Map</code><br>The Map operator applies a function of your choosing to each item emitted by the source Observable, 
      and returns an Observable that emits the results of these function applications.You can look at <code>ForkJoin</code> on how 
      we use maps in observables.
    </p>  
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><i>This is a bare minimum we need to know in order to proceed towards ngrx as it is based out of Observables .</i></p>
    <a href = "http://www.syntaxsuccess.com/viewarticle/combining-multiple-rxjs-streams-in-angular-2.0"> Good Article on Observables </a> and
    <a href= "http://reactivex.io/documentation/observable.html" > Official Documentation </a>
  </div>
</div>