

<div class="row">
  <div class="col-md-12">
    <div>
      <p class="myHeader">Data Visualization Made Easy through HightCharts & Angular<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/charts/charts.component.ts">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>
</div>
<hr>



<div class="row">
  <div class="col-md-6"><a href="http://jsfiddle.net/dacbyL1s/"><p class="myHeader">Multi level Drill Down</p></a></div>
  <div class="col-md-6"><a href="http://www.highcharts.com/demo"><p class="myHeader">Try all the charts</p></a></div>
</div>

<br>

<div class="row">
  <div class="col-md-6"><chart [options]="drilldown"></chart></div>
  <div class="col-md-6"><chart [options]="piechart"></chart></div>
</div>

<br>

<div class="row">
  <div class="col-md-6"><chart [options]="multi"></chart></div>
  <div class="col-md-6"></div>
</div>


