<div class="row">
  <div class="col-md-8">
    <h3 class="test">
      HighCharts works!
    </h3>
  </div>

  <div class="col-md-4">
      <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/charts/charts.component.ts">
          <img src="code.png" alt="Image">
        </a>
      </span>
  </div>
</div>

<hr>



<div class="row">
  <div class="col-md-6"><a href="http://jsfiddle.net/dacbyL1s/"><h3>MULTI LEVEL DRILL DOWN EXAMPLE</h3></a></div>
  <div class="col-md-6"><a href="http://www.highcharts.com/demo"><h3>ALL HIGH CHARTS DEMO OFFICAL LINK</h3></a></div>
</div>
<hr>
<br>

<div class="row">
  <div class="col-md-6"><chart [options]="drilldown"></chart></div>
  <div class="col-md-6"><chart [options]="piechart"></chart></div>
</div>

<br>

<div class="row">
  <div class="col-md-6"><chart [options]="multi"></chart></div>
  <div class="col-md-6"></div>
</div>


<div class="row">

</div>
