

<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Dynamic Components what's That<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/dynamic-component">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <add-banner [ads]="ads"></add-banner>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p>Please look ath the code link in the header its a complex code but its well commented in the below link and in the Repo.
    <a href="https://angular.io/guide/dynamic-component-loader">More On Angular Dynamic Components</a></p>
  </div>
</div>
