

<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Dynamic Components what's That<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/dynamic-component">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <add-banner [ads]="ads"></add-banner>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-md-12">
    <p><strong>Why use Dynamic Component in Angular ?</strong><br>
      There arises situations where it's necessary to drop specific components into the view, 
      and the current view should not be tied to URLs at this point in such a scenario router won't help. Dynamic Component 
      loads the various components dynamically into the view. This gives the power to handle the logic in one persistent smart component 
      which is bound to a URL.<br>
      <a href="https://angular.io/guide/dynamic-component-loader">More On Angular Dynamic Components</a><br>
      <a href="https://hackernoon.com/here-is-what-you-need-to-know-about-dynamic-components-in-angular-ac1e96167f9e">Hackernoon Dynamic Component Blog </a><br>
      <a href="http://blog.rangle.io/dynamically-creating-components-with-angular-2/"> Rangle.io on dynamic-component </a></p>   
    </div>
</div>
