 <nav class="myColor">
    <div class="nav-wrapper">
      <a [routerLink] = "['/home']" class="brand-logo"><img class = "logo" src="../assets/source.gif"/></a>
      <a  data-activates="mobile-demo" class="button-collapse" #button><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="modal-trigger" href="#modal1">About</a></li>
        <li><a class="modal-trigger" href="#modal2">Comment</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a class="modal-trigger" href="#modal1">About</a></li>
        <li><a class="modal-trigger" href="#modal2">Comment</a></li>
      </ul>
    </div>
</nav>


<div class="top">
  <div *ngIf="showProgress">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
  </div>
  <div class="container">
    <!--<h3>Hello {{hello}}</h3>  un comment this or one test spec will fail should display hello Angular the error message-->
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="footer">
    <div class="container my-color">
      <p class="my-text">*For Any issues or clarification on any of these concepts please contact me, use the contact card, or drop in a <a [routerLink]="['/comment']"><strong>comment</strong></a> in the comment Section [the fasted way]
      , Click on this tooltip in any page --> <span mdTooltip="View Source">
        <a>
          <img src="code.png" alt="Image">
        </a>
      </span> to view the source code or reference.</p>
    </div>
</footer>

