
.top{
  margin-top: 110px;
}

.none{
  background-color: royalblue;
  border-radius: 4px;
  padding: 4px;
}

.icon-20{
  font-size: 20px;
}
.navbar {
  background-color: #1976d2;
  border-radius: 0px;
}
.navbar .navbar-brand {
  color: white;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #150201;
}
.navbar .navbar-text {
  color: white;
}
.navbar .navbar-nav .nav-link {
  color: white;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #150201;
}
.navbar .navbar-nav .dropdown-menu {
  border-radius: 0px;
  /*margin-top: -48px;*/
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #150201;
  background-color: #1976d2;
}
.navbar .navbar-toggle {
  border-color: #1976d2;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #1976d2;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color:white;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color:white;
}
.navbar .navbar-link {
  color: white;
}
.navbar .navbar-link:hover {
  color: #150201;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: white;
  color: black;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item {
    color: white;
    padding:5px;
  }
  .navbar .navbar-nav .dropdown-menu{
    border: none;
  }

  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:focus {
    color: #150201;
    background-color: #1976d2;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item.active {
    color: #150201;
    background-color: #1976d2;
  }
   .navbar .navbar-nav .dropdown-menu {
    background-color: #1976d2;
    padding:5px;
  }
}

.nav-item{
  cursor: pointer;
}


@media (min-width: 768px) {
  .collapse a {
    line-height: 45px;
  }
}

@media (max-width: 768px) {
  .collapse a {
    line-height: normal;
  }
}

.myImage{
  height: 40px;
  width: 40px;
}


md-progress-bar{
  top: -49px;
}

@media screen and (max-width: 980px) {
  md-progress-bar{
    top: -59px;
  }
}

.footer {
  position: absolute;
  bottom: -30px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
	background-color:#36474F;
}

.my-color{
  background-color:#36474F;
  text-align: center;
}

.my-text{
  font-size: 10px;
  padding-top: 15px;
}
.my-text a{
  text-decoration: none;
  cursor: pointer;
}