<div class="row">

  <div class="well"><strong>Sharing information between Components that are Parent Child or Unrelated Components in Angular 2 ?</strong>
    <br> <br>

    Instead of Using Observables use either a Behaviour Subject or a Replay Subject .
    <br>
    A detailed info on using behaviour subject or replay subject can be found on this link
    <span mdTooltip="Stack Link ans by Mark">
        <a href="https://stackoverflow.com/questions/34376854/delegation-eventemitter-or-observable-in-angular2">
          <img src="/assets/images/code.png" alt="Image">
        </a>
      </span>

    <br>
    And if you want to go with Event Emitters even if it is not recommended then follow this link

    <span mdTooltip="Stack Link ans by Mark">
        <a href="https://stackoverflow.com/questions/34376854/delegation-eventemitter-or-observable-in-angular2/34402436#34402436">
          <img src="/assets/images/code.png" alt="Image">
        </a>
      </span>


  </div>



</div>
