
<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      FAQ on Angular <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/notes">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>



<div class="row">
  <div class="col-md-8">
    <div class="well">
      <p><strong>Instead of Using Observables use either a Behaviour Subject or a Replay Subject .</strong>
      <br>A detailed info on using behaviour subject or replay subject can be found on this link
      <span mdTooltip="Stack Link ans by Mark">
        <a href="https://stackoverflow.com/questions/34376854/delegation-eventemitter-or-observable-in-angular2">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
      <br>
      <p>& if you want to go with Event Emitters even if it is not recommended then follow this link
      <span mdTooltip="Stack Link ans by Mark">
        <a href="https://stackoverflow.com/questions/34376854/delegation-eventemitter-or-observable-in-angular2/34402436#34402436">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well">
      <p><strong>Testing Gist</strong>
      <span mdTooltip="Testing Gist">
        <a href="https://gist.github.com/wkwiatek/e8a4a9d92abc4739f04f5abddd3de8a7">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="well">
      <p><strong>Show Loading Screen Before Router Resolves</strong><br> Recommended by Stackoverflow
      <span mdTooltip="Stack Overflow Answer">
        <a href="https://stackoverflow.com/questions/37069609/show-loading-screen-when-navigating-between-routes-in-angular-2">
          <img src="code.png" alt="Image">
        </a>
      </span></p><p>My implementaion for the same problem
      <span mdTooltip="My Implementation of the Same">
        <a href="https://stackoverflow.com/questions/37069609/show-loading-screen-when-navigating-between-routes-in-angular-2">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well">
      <p><strong>Input Control  Gist</strong>
      <span mdTooltip="Input Control Gist">
        <a href="http://lishman.io/angular-2-input-binding#?mode=ide&guide=Radio">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="well">
      <p><strong>Use of NgClass Directive</strong>
      <span mdTooltip="Stack Overflow Answer">
        <a href="https://stackoverflow.com/questions/45015658/how-to-hide-navigation-default-show-on-click-how-to-add-class-to-image-div-a/45015785#45015785">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-3">
    <div class="well">
      <p><strong>Combining Multiple Http Streams Observables</strong>
      <span mdTooltip="Blog Link">
        <a href="http://blog.danieleghidoli.it/2016/10/22/http-rxjs-observables-angular/">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>

  <div class = "col-md-6">
    <div class="well">
      <ng-template #fetching>
        <p>Fetching...</p>
      </ng-template>

      <p *ngIf="auth | async; else fetching; let user;">
        <strong>Angular 4 If else Usage - {{user.username }}</strong>
      </p>
      <pre class="ifelseNote">
        <code [innerHTML]="ifElse">
        </code>
      </pre>
    </div>

  </div>


  <div class="col-md-3">
    <div class="well">
      <p><strong>Testing Moment in Angular</strong></p>
      <p>import MomentModule from "angular2-moment"</p>
      <p>Last updated: {{myDate | amTimeAgo}}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <p><strong>Code for Fetching Greatest Jedi using observables</strong></p>
    <p>Planet of the Greatest Jedi using Observable - {{lsObservable}}</p>
    <pre>
    <code [innerHTML]="code"></code>
  </pre>
  </div>
  <div class="col-md-6">
    <p><strong>Code for Fetching Greatest Jedi using Promises</strong></p>
    <p>Greatest Jedi using promise - {{lsPromise}} </p>
    <pre>
    <code [innerHTML]="promsieCode"></code>
  </pre>
  </div>
</div>

<div class="row" id = "externalJS">
  <div class="col-md-12"><p><strong>Importing 3rd Party Js Library in a Angular App using Cli</strong><br>
    There are two options for the Same one without typings and other using typings[recommended] </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">
      <p>Without typings<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/notes">
          <img src="code.png" alt="Image">
        </a>
      </span><br>
        <strong>Step One</strong></p>
      <code>npm install jssha --save  [using jssha for this demo]</code>
      <p><strong>Step two</strong><br>Add the jssha scripts file in .angular-cli.json file</p><br>
      <code>"scripts": [
        "../node_modules/jssha/src/sha.js"
        ]</code>
      <p><strong>Step three</strong> <br>Adding a var in component to be used as a global variable</p><br>
      <code>//using external js modules in Angular<br>
        declare var jsSHA: any;<br>
        shaObj:any;<br>
        hash:string;<br>
        this.shaObj = new jsSHA("SHA-512", "TEXT");<br>
        this.shaObj.update("This is a Test");<br>
        this.hash = this.shaObj.getHash("HEX")</code>

      <p>This is value of hash below and it works yayy</p>
      <small class="smaller">HEX: {{hash}}</small>
    </div>
  </div>

  <div class="col-md-6">
    <div class="well">
      <p>With typings<br>
        <strong>Step One</strong></p>
      <code>npm install lodash --save  [using loadash for this demo]</code>
      <p><strong>Step two</strong><br>Add the typings for the library for popular library you will have types defined like we have for lodash</p><br>
      <code>npm install @types/lodash --save</code>
      <p><strong>Step three</strong> <br>Import it in your component Directly</p><br>
      <code>import * as _ from 'lodash';</code>
      <p> And it works </p>
    </div>
  </div>
</div>


<hr>

<div class="row">
  <div class="col-md-12">
    <p>Search Git Api Look in console Press F12: </p>
    <form [formGroup]="coolForm">
      <md-input-container>
        <input mdInput type="text" placeholder="Search Github Repo" formControlName="search">
      </md-input-container>
    </form>
    <p>This above Example of Searching Git Repository is a very Simple but what the main moto of this example is that we
      show how we can use debouce time and switchmap in a form control to limit request to a server.
      To have a enlarged view of this example Please check my repo <a
        href="https://github.com/rahulrsingh09/GitSearch-App"> Repo </a> which
      has a full Reproduction of the above example.</p>
    <br>
  </div>
</div>
