<div class="row">

  <div class="well"><strong>Sharing information between Components that are Parent Child or Unrelated Components in Angular 2 ?</strong>
    <br> <br>

    Instead of Using Observables use either a Behaviour Subject or a Replay Subject .
    <br>
    A detailed info on using behaviour subject or replay subject can be found on this link
    <span mdTooltip="Stack Link ans by Mark">
        <a href="https://stackoverflow.com/questions/34376854/delegation-eventemitter-or-observable-in-angular2">
          <img src="https://github.com/rahulrsingh09/AngularConcepts/blob/gh-pages/assets/images/code.png" alt="Image">
        </a>
      </span>

    <br>
    And if you want to go with Event Emitters even if it is not recommended then follow this link

    <span mdTooltip="Stack Link ans by Mark">
        <a href="https://stackoverflow.com/questions/34376854/delegation-eventemitter-or-observable-in-angular2/34402436#34402436">
          <img src="https://github.com/rahulrsingh09/AngularConcepts/blob/gh-pages/assets/images/code.png" alt="Image">
        </a>
      </span>


  </div>


  <div class="well">
    <strong>Testing Gist</strong>&nbsp;&nbsp;
    <span mdTooltip="Testing Gist">
        <a href="https://gist.github.com/wkwiatek/e8a4a9d92abc4739f04f5abddd3de8a7">
          <img src="https://github.com/rahulrsingh09/AngularConcepts/blob/gh-pages/assets/images/code.png" alt="Image">
        </a>
      </span>
  </div>

  <div class="well">
    <strong>Input Control  Gist</strong> &nbsp;&nbsp;
    <span mdTooltip="Input Control Gist">
        <a href="http://lishman.io/angular-2-input-binding#?mode=ide&guide=Radio">
          <img src="https://github.com/rahulrsingh09/AngularConcepts/blob/gh-pages/assets/images/code.png" alt="Image">
        </a>
      </span>
  </div>

  <div class="well">
    <strong>Show Loading Screen Before Router Resolves</strong> &nbsp;&nbsp;
    <span mdTooltip="Stack Overflow Answer">
        <a href="https://stackoverflow.com/questions/37069609/show-loading-screen-when-navigating-between-routes-in-angular-2">
          <img src="https://github.com/rahulrsingh09/AngularConcepts/blob/gh-pages/assets/images/code.png" alt="Image">
        </a>
      </span> &nbsp;&nbsp;&nbsp;&nbsp;
    <span mdTooltip="My Implementation of the Same">
        <a href="https://stackoverflow.com/questions/37069609/show-loading-screen-when-navigating-between-routes-in-angular-2">
          <img src="https://github.com/rahulrsingh09/AngularConcepts/blob/gh-pages/assets/images/code.png" alt="Image">
        </a>
      </span>
  </div>


</div>
