<h3 class = "test">
  angular4 works!
</h3>

<ng-template #fetching>
  <p>Fetching...</p>
</ng-template>

<p *ngIf="auth | async; else fetching; let user">
  {{user.username }}
</p>

<div *ngIf = "message">
  Data passed via router {{message}}
</div>

<br>

<p>Planet of the Greatest Jedi {{lsObservable}}</p>
<br>Code for the Same using observables
<pre>
  <code [innerHTML]="code"></code>
</pre>

<br>

<p>Greatest Jedi  {{lsPromise}} </p>
<br>Code for the Same using Promises
<pre>
  <code [innerHTML]="promsieCode"></code>
</pre>

<br>

<p>Search Starwars Api Look in console Press f12: </p> <form [formGroup]="coolForm"><input formControlName="search" placeholder="Search Github User Repos"></form>

<p>This above Example of Seraching Git repo is very crud but what the main moto of thsi example is that we show how we can use debouce time and switchmap in a form control to limit request to a server.
  To have a enlarged view of this example Please check my repo https://github.com/rahulrsingh09/GitSearch-App which has a full reporduction of the above example.</p>
<br>

<p>Angular Testing Gist </p>
<a href = "https://gist.github.com/wkwiatek/e8a4a9d92abc4739f04f5abddd3de8a7">Testing Gist</a>

