<div class="row">
  <div class="col-md-8">
    <h3 class="test">
      View Encapsulation
    </h3>
  </div>

  <div class="col-md-4">
      <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/viewencapsulation">
          <img src="../assets/images/code.png" alt="Image">
        </a>
      </span>
  </div>
</div>
<div class="none">
  <p>The div is applied with class none the css is defined in app.component.css and due to viewEncapsulation set to none in app.component the style
    can flow from one component to another</p>
  viewencapsulation works!
</div>
<br>
For more info on the same check out <a href="https://toddmotto.com/emulated-native-shadow-dom-angular-2-view-encapsulation"> View Encapuslation</a>
<br>

<iframe style="width: 100%; height: 400px" src="https://plnkr.co/iVatYgdxXXiKwaZlpYdZ" frameborder="0" allowfullscren="allowfullscren"></iframe>
