
<div class="row">
  <div class="col-md-12">
    <div>
      <p class="myHeader">Making Styles Flow from Parent to Child and Vice versa using View Encapsulation<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/viewencapsulation">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
    </div>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-6">
    <div>
      <p class="none">This para is applied with class none the css is defined in <code>app.component.css</code> and due to viewEncapsulation set to none in app.component the style
        can flow from one component to another view encapsulation works! </p>
    </div>
  </div>  
  <div class="col-md-6">
    <p><a href="https://plnkr.co/iVatYgdxXXiKwaZlpYdZ" > Demo of View Encapuslation In Angular </a></p>
    <p>For more info on the same check out <a href="https://toddmotto.com/emulated-native-shadow-dom-angular-2-view-encapsulation"> View Encapuslation</a></p>
  </div>
</div>

<ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'viewEncapsultation.ts'" style="height:800px"></ngx-gist>

