
<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      This is ANGULAR CLI :P pretty blank huh
    </p>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-md-12">
    <div class="well">
      <p>
        Angular Command Line Interface For Faster Angular Development.
        reason for Not mentioning it here as the cli readme in github is always updated and one of the best docs for cli
        commands and usage.
        <br>
        <a href="https://github.com/angular/angular-cli/wiki"> All the Info about Cli can be found Here</a>
      </p>
    </div>
  </div>
</div>
