<h1 align="center">SOKA - ORTB MIGRATION POC</h1>
<hr>

<div class="row">
  <div *ngIf="openRtbResponse">
    <div *ngFor=" let value of openRtbResponse.seatbid[0].bid[0].adm.nativeRes.assetsRes">
      <div class="col-md-3">
        <div class="product-tile">
        <div class="product-image">
          <img width="1" height="1" src="{{value.data.imp_tracker}}">
          <a href="{{value.data.target_url}}" id="{{value.id}}" target="_blank">
            <div class="img-section">
              <img src="{{value.data.image_url}}" width="200" height="200" title="{{value.title.text}}"
                   alt="{{value.title.text}}">
            </div>
          </a>
        </div>
        <p class="product-title">{{value.title.text}}</p>
          <div class="price_part">
            <span>Rs.{{value.data.price * (1 - (value.data.discount_percent/100))}}</span>
            <span><del>Rs.{{value.data.price}}</del></span>
          </div>
          <div class="align-left"><span class="label label-primary product_discount">{{value.data.discount_percent}}% off</span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Open RTB Request</h3>
    <div>
      <pre>
      {{openRtbResponse | json}}
      </pre>
    </div>
  </div>

  <div class="col-md-6">
    <h3>Open RTB Response</h3>
    <div>
      <pre>
      {{openRtbResponse | json}}
      </pre>
    </div>
  </div>

</div>
