/*.box{*/
  /*border: 2px;*/
  /*width:210px;*/
  /*height:210px;*/
  /*border-color: royalblue;*/

  /*padding: 10px;*/
/*}*/

/*.bottom{*/
  /*padding: 50px;*/
  /*border: 2px;*/
  /*border-style: solid;*/
  /*border-color: royalblue;*/
/*}*/

.product-tile {
  padding: 10px;
  border: 1px solid #eee;
  transition: ease-in 0.2s;
  text-align: center;
}

.product-tile:hover {
  border-color: #cecece;
  transition: ease-out 0.2s;
  box-shadow: 0 0 15px 0 #eee;
}
p.product-title, .price_part {
  text-align: left;
  color: #555;
}

p.product-title {
  padding-top: 10px;
  display: inline-block;
  color: #555;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-align: left;
}

.align-left {
  text-align: left;
}
