
<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Angular Services using the new Http Client Module<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/services">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
    <p>The new Http Client is a updraded version of the old Http Module. Here are some of the distinct advnatages of using the
       new Http Client Module :-</p>
      <ul>
        <li><p>Typed, synchronous response body access, including support for JSON body types</p></li>
        <li><p>JSON is an assumed default and no longer needs to be explicitly parsed</p></li>
        <li><p>Interceptors allow middleware logic to be inserted into the pipeline</p></li>
        <li><p>Immutable request/response objects</p></li>
        <li><p>Progress events for both request upload and response download</p></li>
        <li><p>Post-request verification & flush based testing framework</p></li>
      </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <pre>
      {{get | json}}
    </pre>
  </div>
</div>
<ngx-gist [gistId]="'jhades/9c439200c392d4e32c5b28c1c8052d02'" [file] = "'01.ts'"></ngx-gist>