<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      My works using Angular
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-4">
       <iframe class="embed-responsive-item" id="frame" src="https://rahulrsingh09.github.io/WordMeaning" width="350px" height="450px"></iframe>
       <br>
       <p class="well"><a href = "https://rahulrsingh09.github.io/WordMeaning" target="_blank"> Football App </a>Using Angular and football data Api.<br>It not only is a treat for football lovers but also for developers
         as it is one of the few apps to completly use ngrx4 for its state management. So it is also like a guide for ngrx(redux) in Angular          
        </p>      
  </div>
</div>