<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      My works using Angular
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
    <p class="well"><a href = "https://rahulrsingh09.github.io/WordMeaning" target="_blank"> Football App </a>Using Angular and Football data Api by <a href = "https://www.linkedin.com/in/daniel-freitag-522a892a/">Daniel </a><br>It not only is a treat for football lovers but also for developers
        as it is one of the apps which completly use ngrx4 for its state management. So it is also like a guide for ngrx(redux) in Angular          
    </p>     
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="well"><a href = "https://github.com/rahulrsingh09/GitSearch-App" target="_blank"> Git Search App </a>Using Angular and git Api.<br>
      It uses git api to search for users and their repositories . Just Paste it the username and the api will search the appropriate User for the name.     
    </p>     
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="well"><a href = "https://github.com/rahulrsingh09/SpotifyApp" target="_blank"> Spotify Preview App </a>Using Angular and Spotify Api.<br>
      Every one atleast i love music :P , but as you know this logo spotify is not available in india, But using their api you can preview any music album.<br>
      And this Angular app does just that .<br>
      I want to be able to extend this facility using a vpn so that we can listen to the ehole music, but thats a project for future.
  </div>
</div>