<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Forms in Angular (2) Reactive or Data Driven Forms <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/reactive">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>


<div class="row">
  <div class="col-md-12">
    <p><strong>Forms are Crucial, Forms are Complex</strong><br><br> Probably the most important building block of any we application
      is a form. With forms we register users validate user data store it on the server use it to send news letters and all
      sorts of things all the data is collected by means of forms and the more the control over forms the better.<br> Here
      we going to talk about Reactive forms which is new thing in Angular which gives the more control to the user. As the
      component we build has access to all the model and template we can use this approach to have better control over our
      data and have instant access to all the validations and values by drilling down the form control.<br><br>
      <b>Quick Shout</b> - This Post has received a lot of views and developers are now looking for highly nested forms which
      is not part of this tutorial. To one such request the user @irfan helped me to learn and develop deep nesting and create
      highly nested forms for better data processing, uses both FormBuilder as well as Form Control for the same.
      <u>I will Leave this StackBlitz <a href="https://stackblitz.com/edit/deep-nested-reactive-form">
    Link</a></u>.Check the whole source code and a working example . If you want me to post that stuff instead of this please
      comment.
      <br><br> The Two Fundamental Blocks for forms in Angular are <code>Form Controls </code> & <code>Forms Groups </code>.<br>
      <code>Form Controls </code> represent a single input and is the smallest unit in a Angular Form. Where as a <code>Forms Groups </code>      is a a way to manage these form groups as mostly we will be dealing with forms that have multiple fields. Both these
      classes have the same parent <code>Abstract Control</code> so we can track down the changes easily for one or even
      more forms. For more indepth study please visit these links <span mdTooltip="Ng book">
        <a href="http://blog.ng-book.com/the-ultimate-guide-to-forms-in-angular-2/">
          <img src="code.png" alt="Image">
        </a>
      </span> & <span mdTooltip="Angular IO">
        <a href="https://angular.io/guide/reactive-forms">
          <img src="code.png" alt="Image">
        </a>
      </span> <br> <strong>Now Let's get our hand's dirty</strong> You need to Import the <strong>Reactive Forms Module</strong>      in NgModule to kick start Reactive Forms.</p>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-md-9">

    <form [formGroup]="user" novalidate (ngSubmit)="onSubmit(user)">

      <div class="row">
        <div formGroupName="name">
          <div class="col-md-4">
            <mat-form-field>
              <input matInput type="text" placeholder="First Name" formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field>
              <input matInput type="text" placeholder="Last Name" formControlName="lastName">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <input matInput type="number" formControlName="age" placeholder="Age" validate-onblur>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <small [hidden]="getUserControl(user).firstName.valid">
            First Name is required
            </small>
        </div>
        <div class="col-md-6">
          <span *ngIf="user.get('age').touched && !user.get('age').valid && !user.get('age').pristine">
            <small>Age should be greater than 18 </small>
        </span>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="email" validate-onblur>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <span *ngIf="user.get('email').touched && !user.get('email').valid">
            <small>Invalid email</small>
          </span>
        </div>
      </div>
      <div class="row" formArrayName="addresses">
        <div class="col-md-12" *ngFor="let address of getAddresses(user) ; let i = index">
          <div class="row">
            <div class="col-md-11">
              <span>Address  {{i+1}} </span>
            </div>
            <div class="col-md-1">
              <span *ngIf="getAddresses(user).length > 1" (click)="removeAddress(i)" class="glyphicon glyphicon-remove"></span>
            </div>
          </div>
          <div [formGroupName]="i" class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput type="text" formControlName="street" placeholder="Street">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput type="text" formControlName="postcode" placeholder="Pin">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a (click)="addAddress()" class="point">
            <strong> another address + </strong>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <label> Gender - &nbsp;&nbsp; </label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button *ngFor="let gender of genders" [value]="gender.value"> {{gender.display}} &nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <mat-select placeholder="Role" formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.display}}
            </mat-option>
          </mat-select>
        </div>

        <div class="col-md-3">
          <mat-select placeholder="Theme" formControlName="theme">
            <mat-option *ngFor="let theme of themes" [value]="theme">
              {{theme.display}}
            </mat-option>
          </mat-select>
        </div>
        <br>
        <div class="col-md-3">
          <mat-select multiple placeholder="Topics" formControlName="topics">
            <mat-option *ngFor="let topic of topics" [value]="topic.value">
              {{topic.display}}
            </mat-option>
          </mat-select>
          <!-- Multiple select is not active in multiple select -->
        </div>

      </div>

      <br>

      <div class="row">
        <div class="col-md-3">
          <mat-checkbox name="isActive" formControlName="isActive">Is Active!</mat-checkbox>
        </div>

        <div class="col-md-3">
          <input type="hidden">
          <mat-checkbox (change)="$event.checked?(toggle = toggles[0].value): (toggle = toggles[1].value)" formControlName="toggle">
            {{toggles[0].display}}</mat-checkbox>
        </div>

        <div class="col-md-3" [hidden]="user.controls.gender.value !== 'F'">
          <mat-form-field>
            <input matInput type="text" placeholder="Discount" formControlName="discount">
          </mat-form-field>
        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-md-3">
          <button md-raised-button color="primary" type="submit" [disabled]="!user.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-3">
    <pre> {{user.value | json}} </pre>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <p><strong>So Now what is this Form whats is Happening</strong><br>
      <br> Its is a Form which highlights all the key features of an Angular Reactive Forms . Here all the control resides
      with the developer. Key Features here are Nested Form Groups and Form Array. As you can see from the output on the
      side of the form. Nested Groups are like nested objects in Javascript. where as a Form Array is a array of objects
      like in javascript you can interlieve these two together here is how I created them .
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p><strong>Nested Groups</strong></p><br>
    <div style="background: #ffffff; overflow:auto;width:auto;">
      <pre style="margin: 0; line-height: 125%">  ngOnInit() &#123;
        <span style="color: #008800; font-weight: bold">this</span>.user <span style="color: #333333">=</span> <span style="color: #008800; font-weight: bold">new</span> FormGroup(&#123;
            name:<span style="color: #333399; font-weight: bold">new</span> FormGroup(&#123;
            firstName : <span style="color: #333399; font-weight: bold">new</span> FormControl(<span style="background-color: #fff0f0">&#39;&#39;</span>,Validators.required),
            lastName : <span style="color: #333399; font-weight: bold">new</span> FormControl(<span style="background-color: #fff0f0">&#39;&#39;</span>)
        &#125;),
          age:<span style="color: #333399; font-weight: bold">new</span> FormControl(<span style="background-color: #fff0f0">&#39;&#39;</span>,<span style="color: #008800; font-weight: bold">null</span>,validate),
          email: <span style="color: #333399; font-weight: bold">new</span> FormControl(<span style="background-color: #fff0f0">&#39;&#39;</span>,&#123;validator : emailValidator , updateOn : &#39;blur&#39;&#125;), // new feature added in Angular (v5)
          addresses: <span style="color: #333399; font-weight: bold">new</span> FormArray([
            <span style="color: #008800; font-weight: bold">this</span>.initAddress(), 
          ])
      &#125;);
    &#125;

    initAddress()&#123;
        <span style="color: #008800; font-weight: bold">return</span> <span style="color: #008800; font-weight: bold">new</span> FormGroup(&#123;
          street : <span style="color: #333399; font-weight: bold">new</span> FormControl(<span style="background-color: #fff0f0">&#39;&#39;</span>),
          postcode : <span style="color: #333399; font-weight: bold">new</span> FormControl(<span style="background-color: #fff0f0">&#39;&#39;</span>)
      &#125;);
    &#125;
    </pre>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>You must be wondering what's those <strong>email Validator & validate</strong> doing with the Form Control Those are
      Custom Angular Validators .There are two types of validators one is synchronous other is Async. Async is used for Server
      side validations if any for this page I am simualting a server call.
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div style="background: #ffffff; overflow:auto;width:auto;">
      <pre style="margin: 0; line-height: 125%"><span style="color: #008800; font-weight: bold">import</span> &#123; ValidatorFn, AbstractControl&#125; from <span style="background-color: #fff0f0">&#39;@angular/forms&#39;</span>;
<span style="color: #008800; font-weight: bold">import</span> &#123; Observable&#125; from <span style="background-color: #fff0f0">&#39;rxjs&#39;</span>;

<span style="color: #008800; font-weight: bold">export</span> <span style="color: #008800; font-weight: bold">function</span>  validate(c: <span style="color: #333399; font-weight: bold">AbstractControl</span>)<span style="color: #333333">:</span> Observable<span style="color: #333333">&lt;</span>&#123;[key : <span style="color: #333399; font-weight: bold">number</span>] <span style="color: #333333">:</span> any}<span style="color: #333333">&gt;</span>&#123;
    <span style="color: #888888">// return this.validateAgeObservable(c.value);</span>
    <span style="color: #008800; font-weight: bold">return</span> validateAgeObservable(c.value).first();
 &#125;

  <span style="color: #008800; font-weight: bold">function</span> validateAgeObservable( age: <span style="color: #333399; font-weight: bold">number</span> ) &#123;
    <span style="color: #008800; font-weight: bold">return</span> <span style="color: #008800; font-weight: bold">new</span> Observable(observer <span style="color: #333333">=&gt;</span> &#123;
      setTimeout(()<span style="color: #333333">=&gt;</span> &#123;observer.next(age <span style="color: #333333">&gt;</span> <span style="color: #0000DD; font-weight: bold">18</span> <span style="color: #333333">?</span>  <span style="color: #008800; font-weight: bold">null</span><span style="color: #333333">:</span> &#123;inValid: <span style="color: #333399; font-weight: bold">true</span>});} ,<span style="color: #0000DD; font-weight: bold">2000</span>);
      <span style="color: #888888">// observer.complete(); or this or .first();</span>
   &#125;);
 &#125;

<span style="color: #008800; font-weight: bold">export</span> <span style="color: #008800; font-weight: bold">function</span> emailValidator(control: <span style="color: #333399; font-weight: bold">AbstractControl</span>)<span style="color: #333333">:</span>&#123;[key: <span style="color: #333399; font-weight: bold">string</span>]<span style="color: #333333">:</span> <span style="color: #008800; font-weight: bold">boolean</span>} &#123;
  console.log(<span style="background-color: #fff0f0">&quot;called&quot;</span>);
        <span style="color: #008800; font-weight: bold">var</span> EMAIL_REGEXP <span style="color: #333333">=</span> <span style="color: #000000; background-color: #fff0ff">/^(([^&lt;&gt;()\[\]\\.,;:\s@&quot;]+(\.[^&lt;&gt;()\[\]\\.,;:\s@&quot;]+)*)|(&quot;.+&quot;))@((\[[0-9]&#123;1,3}\.[0-9]&#123;1,3}\.[0-9]&#123;1,3}\.[0-9]&#123;1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]&#123;2,}))$/</span>;
        <span style="color: #008800; font-weight: bold">if</span> (control.value <span style="color: #333333">!=</span> <span style="background-color: #fff0f0">&quot;&quot;</span> <span style="color: #333333">&amp;&amp;</span> (control.value.length <span style="color: #333333">&lt;=</span> <span style="color: #0000DD; font-weight: bold">5</span> <span style="color: #333333">||</span> <span style="color: #333333">!</span>EMAIL_REGEXP.test(control.value))) &#123;
              <span style="color: #008800; font-weight: bold">return</span> &#123;invalid:<span style="color: #333399; font-weight: bold">true</span>};
       &#125;
        <span style="color: #008800; font-weight: bold">return</span> <span style="color: #008800; font-weight: bold">null</span>;
   &#125;
</pre>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p> Now this is not the whole picture I wanted to highlight the main components of a Reactive Template but there is more
      to than what on this page. There is <strong>Reactive form Tempalates</strong> , how to show validation messages only
      on focus and blur events . For that I have created a directive here which sets the form classes accordingly. I am posting
      this Link -> <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/reactive">
          <img src="code.png" alt="Image">
        </a>
      </span> . It is the Repo Folder link for this whole page, you can get to see how I created Reactive Form Template as
      well as all the Css,Html and Angular. </p>
  </div>
</div>