
mat-form-field{
  display: inherit;
}

pre{
  height: auto;
  font-size: 15px;
}

.point{
  font-size: 12px;
  color : blue !important;
  cursor: pointer;
}

small{
  color: red;
  font-weight: bold;
}