<div class="row">
  <h2> Reactive Forms</h2>
  <br><br>

  <form [formGroup] = "user" novalidate (ngSubmit)="onSubmit(user)">
    <md-input-container>
      <input mdInput type="text" placeholder="Name" formControlName="name">
    </md-input-container>

    <md-input-container>
      <input mdInput type="number" formControlName="age" placeholder="Age">
    </md-input-container>

    <br>

    <label> Gender - &nbsp;&nbsp; </label>
    <md-radio-group formControlName="gender">
      <md-radio-button *ngFor="let gender of genders" [value]="gender.value"> {{gender.display}} &nbsp;&nbsp;&nbsp;&nbsp;</md-radio-button>
    </md-radio-group>

    <br><br>

    <md-select placeholder="Role" formControlName="role">
      <md-option *ngFor="let role of roles" [value]="role.value">
        {{role.display}}
      </md-option>
    </md-select>

    <md-select placeholder="Theme"  formControlName="theme">
      <md-option *ngFor="let theme of themes" [value] = "theme">
        {{theme.display}}
      </md-option>
    </md-select>

    <md-select multiple placeholder="Topics" formControlName="topics">
      <md-option  *ngFor="let topic of topics" [value]="topic.value">
        {{topic.display}}
      </md-option>
    </md-select><!-- Multiple select is not active in multiple select -->

    <br><br>

    <md-checkbox name="isActive" formControlName="isActive" >Is Active!</md-checkbox>

    <input type="hidden">
    <md-checkbox (change)="$event.checked?(toggle = toggles[0].value): (toggle = toggles[1].value)" formControlName="toggle">
      {{toggles[0].display}}</md-checkbox>

    <br>
    <hr>

    <button md-raised-button type="submit">Submit</button>

  </form>
</div>


