/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Bangers");
@import '~bootstrap/dist/css/bootstrap.css';

body, html {
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0, 0.3);
  text-align: justify;
  line-height: 25px;
}

p {
  font-size: 16px;
}

pre {
  overflow-x: auto;
  height: 450px;
}

pre code {
  overflow-wrap: normal;
  white-space: pre;
}


.myHeader {
  font-family: 'Bangers', cursive;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  text-align: center;
}

.img-circle {
  width: 100px;
  height: 100px;
}

.hero-profile {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightgreen;
  color: black;
}

.job-ad {
  border: 1px solid gray;
  padding: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightblue;
  color: black;
}

.ad-banner {
  width: 400px;
}

