
<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Modifying Css from Parent to Child or Vice-versa? hmm Host and Host-Context to the rescue<span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/parent-host">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>



<div class="row">
  <div class="col-md-6">
    <p>The Class Applied here is using host</p>
    <app-child class = "parent-host"><p>This Should be red</p></app-child>
  </div>

  <div class="col-md-6">
    <p>The Class Applied here is using host Context</p>
    <div class ="parent-host-context">
      <app-child><p>This should be green</p></app-child>
    </div>
  </div>

</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p><a href="https://alligator.io/angular/styles-between-components-angular/"> More About Host and Host Context pseudo selector</a></p>
  </div>

</div>



