<div class="row">
  <div class="col-md-8">
    <h3 class="test">
      Host and Host-Context in Angular Components.
    </h3>
  </div>

  <div class="col-md-4">
      <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/parent-host">
          <img src="code.png" alt="Image">
        </a>
      </span>
  </div>
</div>

<hr>
The Class Applied here is using host
<app-child class = "parent-host">This Should be red</app-child>
<hr>
The Class Applied here is using host Context
<div class ="parent-host-context">
<app-child> This should be green</app-child>
</div>
