<p>
  guards works!
</p>
<hr>
Input Value as X to navigate to child component. Else will get an error msg .
<input type="text" #input>
<button type="submit" (click)="navigate(input.value)">Naviagte</button>
<hr>
<div>
  In order to do some task when routing from one component to another we can make use of Router resolve which will only
  load the page when all the service realted tasks have been done and we can add a loading spinner to it to display it to the user.

  <h3>Router Resolve</h3>
  like eg


    <pre>
      <code [innerHTML]="code"></code>
    </pre>




</div>
