
<div class="row">
  <div class="col-md-12">
    <p class="myHeader">
      Prevent Unwanted User for accessing Content  ? Angular Guards & Resolve
      <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/guards">
          <img src="code.png" alt="Image">
        </a>
      </span>
    </p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-12">
    <p>Pass Input Value as 'X' to navigate to the Guarded component. Else wont be allowed to enter .</p>
    <mat-input-container>
      <input matInput type="text" placeholder="Pass value" #input>
    </mat-input-container>
    <button mat-raised-button color = "primary" type="submit" (click)="navigate(input.value)">Navigate</button>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <p><strong>Router Resolve</strong></p>
    <ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'routerResolve.ts'" style="height:420px"></ngx-gist>
  </div>
  <div class="col-md-4">
    <p>In order to do some task when routing from one component to another we can make use of Router resolve which will only
      load the page when all the xyz tasks have been done and we can add a loading spinner to it to display it to the user.
      For eg :- Take the scenario where you want the user to show datatable which has millions of records which has to be fetched via
      a http call, here if you donot use resolve the component will load but the content will take some time to load which will
      reduce the user experience so instead we make use of router resolve display the component when data is ready and in the mean while
      when the resolve is working we can display a loading screen enhancing UX. We can also make use of Resolves for checking authentic users and
      guide them to appropriate routes same as with guards. but the general use case of resolve is to load a component when some task is done.
    </p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <p>With the Release of <b>Angular version 5 pentagonal-donut</b> we havegot some great hooks for our application.
        Router Events is one such Stuff which allows us to hook into certain events so that we can have more control on the component 
        that is rendered.
    </p>
    <p>This allows you to track the lifecycle of the router, The sequence of router events is:</p>
    <ol>
      <li>NavigationStart</li>
      <li>RouteConfigLoadStart</li>
      <li>RouteConfigLoadEnd</li>
      <li>RoutesRecognized</li>
      <li>GuardsCheckStart</li>
      <li>ChildActivationStart</li>
      <li>ActivationStart</li>
      <li>GuardsCheckEnd</li>
      <li>ResolveStart</li>
      <li>ResolveEnd</li>
      <li>ActivationEnd</li>
      <li>ChildActivationEnd</li>
      <li>NavigationEnd</li>
      <li>NavigationCancel</li>
      <li>NavigationError</li>
    </ol>
  </div>
</div>
<ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'routerevents.ts'" style="height:600px"></ngx-gist>
<div class="row">
  <div class="col-md-12">
    <p>Using Angular Guards</p>
  </div>
</div>
<ngx-gist [gistId]="'rahulrsingh09/271aaff4cb134685ed7a62197670938c'" [file] = "'guards.ts'" style="height:700px"></ngx-gist>
