<div class="row">
  <div class="col-md-8">
    <h3 class="test">
      Guards works!
    </h3>
  </div>

  <div class="col-md-4">
      <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/blob/master/src/app/guards/auth.guard.ts">
          <img src="/assets/images/code.png" alt="Image">
        </a>
      </span>
  </div>
</div>

<hr>
<br>

<p>Pass Input Value as X to navigate to child component. Else will get an error msg .</p>
<md-input-container>
  <input mdInput type="text" placeholder="Pass value" #input>
</md-input-container>

<button md-raised-button type="submit" (click)="navigate(input.value)">Naviagte</button>
<br>
<hr>
<div>
  In order to do some task when routing from one component to another we can make use of Router resolve which will only
  load the page when all the service realted tasks have been done and we can add a loading spinner to it to display it to the user.

  <h3>Router Resolve</h3>
  <p>like eg :-</p>


    <pre>
      <code [innerHTML]="code"></code>
    </pre>

</div>
