<div class="row" *ngIf="showProgress">
    <md-progress-bar mode="indeterminate"></md-progress-bar>
</div>
<br><br>

<ng-template #loginscreen>
<div class="row">
  <div class="col-md-12">
      <div>
        <p class="myHeader">Wanna Post Any Comment, Something not Right or Just For Fun Please Sign In No personal Data is Stored <span mdTooltip="View Source">
        <a href="https://github.com/rahulrsingh09/AngularConcepts/tree/master/src/app/comment">
          <img src="code.png" alt="Image">
        </a>
      </span></p>
      </div>
  </div>
</div>
  <hr>
<div class="row">
  <div class="col-md-3">
    <button class="loginBtn loginBtn--facebook" (click)="login('facebook')">
      Login with Facebook
    </button>
  </div>
  <div class="col-md-3">
    <button class="loginBtn loginBtn--google" (click)="login('google')">
      Login with Google
    </button>
  </div>
</div>
</ng-template>

<div class="row" *ngIf="user;else loginscreen">
    <div class="col-md-12 user-details">
      <div class="user-image">
        <img [src] ="user?.photoURL ? user?.photoURL : fakeImage" alt="You Like to Keep it Secret" class="img-circle">
      </div>
      <div class="user-info-block">
        <div class="user-heading">
          <p class="myHeader">{{user.displayName}}</p>
          <span class="help-block"></span>
        </div>
        <ul class="navigation">
          <li>
            <a data-toggle="tab">
              <span class="glyphicon glyphicon-comment"></span>
            </a>
          </li>
          <li>
            <span mdTooltip="Logout">
            <a (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span>
            </a>
            </span>
          </li>
        </ul>
        <div class="user-body">
          <div class="tab-content">
            <div id="email" class="tab-pane active">
              <div class="well comment-well">
                <input class="edit-Label" type=”text” [(ngModel)]='comment' placeholder="Enter your Comment"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Comment'" (keyup.enter) = "add()"/>
                <a><i class="comment-sub glyphicon glyphicon-ok glyphicon-white" (click)="add()"></i></a>
              </div>

              <label><p><span class="comment-label label label-primary">All Comments :-D </span></p></label>

              <hr class="line">

              <div style="margin-left: 20px">
                <input class="edit-Label" type=”text” [(ngModel)]='filter' placeholder="Filter Comment"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Filter Comment'"/>
              </div><br>

              <div
                *ngFor="let i of comments | stringFilter: filter | paginate: { itemsPerPage: 5, currentPage: page } ; let index = index"
                [@flyInOut]>
                <div *ngIf="user?.uid === i?.userid">
                  <div class="well">
                    <textarea class="label-look" [id]="'index'+index" type=”text” value="{{i.comment}}" [readonly]="true"
                              #comment></textarea>
                    <span class="label label-success edit-btn"> - {{i.createdAt | relativeTime}} by me</span>
                    <a><i [id]="'edit'+index" class="close-icon glyphicon glyphicon-edit glyphicon-white"
                          (click)="edit(index)"></i></a>
                    <a><i [id]="'delete'+index" class="delete-icon glyphicon glyphicon-remove glyphicon-white"
                          (click)="deleteComment(index)"></i></a>
                  </div>
                  <button [class]="'submit'+index" (click)="submitEdit(index,comment.value)" type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
                </div>
                <div *ngIf="user?.uid != i?.userid">
                  <div class="well">
                    <textarea class="label-look" type=”text” value="{{i.comment}}" [readonly]="true"></textarea>
                    <span
                      class="label label-success edit-btn"> - {{i.createdAt | relativeTime}} by {{i.name}}</span>
                  </div>
                </div>
              </div>
              <div class="has-text-centered">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



